@import './garage.scss';
@import './car.scss';
@import './popUp.scss';
@import './winners.scss';

html,
body {
    height: 100%;
}

body {
    background-color: #72e8f1;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}
